.header {
    width: 100%;
    height: 10vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    position: fixed; 
    z-index: 10;
}

.container {
    width: 90%;
    height: 10vh;
    display: flex;
}

.box_logo {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
}

.box_menu {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    width: 70px;
    height: 60px;
}

.menu {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.menuSidebar {
    top: 10vh; 
    bottom: 0;
    right: 0;
    background-color: #e53939;
    width: 30%;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #ffffff;
    position: fixed;
    z-index: 999;
}

ul, li{
    list-style: none;
    cursor: pointer;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    margin: 20px 0px;
}


@media (max-width:1140px){
    .menuSidebar {
        width: 50%;
    }
}

@media (max-width:500px){
    .menuSidebar {
        width: 100%;
    }
    ul, li{
       font-size: 1.5rem; 
       margin: 30px 0px;
    }
}