.section_whiteBox{
    width:100%;
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    overflow-x: hidden;
    overflow-y: hidden;
}

.container_whiteBox{
    width: 90%;
    height: 50rem;
    
    display: flex;
}

.aos-animate .box_text, .box_animation {
    opacity: 1; 
  }

.box_text, .box_animation{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    opacity: 0; 
    transition: opacity 1s ease-in-out; 
}

.box_text{
    flex-direction: column;
}

.space_animation{
    margin-top: 80px;
}

.box_text p{
    width: 90%;
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    line-height: 2rem;
}
.box_text h1{
    color: #e53939;
    width: 90%;
    margin-bottom: 30px;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
}


@media (max-width: 1270px){
    .container_whiteBox{
      display: flex;
      flex-direction: column;
    }
    .box_text{
      justify-content: center;
    }
    .box_animation{
      align-items: flex-end;
    }
    .container_whiteBox{
      height: 50rem;
    }
    .section_whiteBox{
      height: 50rem;
    }
    .box_text{
        flex: 2;
    } 
  }
  
    @media (max-width: 1020px){
      .box_text p{
        font-size: 1rem;
      }
    }
  
  
  
    @media (max-width: 600px){
      .box_text p{
        font-size: 0.8rem;
      }
  
      .box_text h1{
        font-size: 2rem;
    }
     
    }
  
    @media (max-width: 430px) {
      .box_text p{
        font-size: 0.8rem;
      }
  
      .box_text h1{
       
        font-size: 1.5rem;
    
    }
        .section_whiteBox{
        height: 120vh;
    }
     
    }
    
  
   @media (max-height:680px){
      .container_whiteBox{
        height: 60rem;
      }
      .section_whiteBox{
        height: 60rem;
      }
    }
   